{% extends "dashboard" %}

{% block title %}
Candidates
<div class="sub header">Tous les candidates</div>
{% endblock %}

{% block content %}
<table class="ui very basic celled table">
    <thead>
        <tr><th class="left aligned">Reference</th>
            <th>Nom</th>
            <th>Valider</th>
            <th>Mail</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for candidate in candidates %}
        <tr>
            <td class="left aligned">{{ candidate.reference }}</td>
            <td>{{ candidate.data.display_name }}</td>
            <td>
                <div class="ui {% if candidate.validated == 1 %} green {% else %} red {% endif %} horizontal label">
                    {% if candidate.validated == 1 %} Oui {% else %} Non {% endif %}
                </div>
            </td>
            <td>{{ candidate.data.user_email }}</td>
            <td><a href="{{ page.edit_cv_page }}&id={{ candidate.ID }}" class="ui icon button" ><i class="edit icon"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="ui pagination menu" style="padding-top:0px">
    {% assign total_pages = pagination.total_pages %}
    {% for i in (1..total_pages) %}
        <a class="item {% if i ==  pagination.current_page %}active{% endif %}" href="{{ page.cv }}&paged={{ i }}">
            {{ i }}
        </a>
    {% endfor %}
</div>
{% endblock %}