{% extends "dashboard" %}

{% block title %}
Demande
{% endblock %}

{% block content %}
<table class="ui very basic celled table">
    <thead>
    <tr>
        <th class="left aligned">Reference</th>
        <th>Demandeur</th>
        <th>Statut</th>
        <th>Type de demande</th>
        <th>Description</th>
        <th class="left aligned">_TransId</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for demande in demandes %}
        {% assign user = demande.user | wp_user_object %}
        <tr>
            <td class="left aligned">{{ demande.ID }}</td>
            <td>{{ user.display_name }}</td>
            <td>
                {% if demande.status == 1 %} Valider {% endif %}
                {% if demande.status == 2 %} Refuser {% endif %}
                {% if demande.status == 0 %} En attente {% endif %}
            </td>
            <td>{{ demande.type_demande.name }}</td>
            <td>{{ demande.type_demande.desciption }}</td>
            <td>{{ demande.reference }}</td>
            <td><a href="{{ page.edit_demande_page }}&id={{ demande.ID }}" class="ui icon button" ><i class="edit icon"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}