<!-- ======================= Start Banner ===================== -->
<div class="utf_main_banner_area" style="background-color: #39ECEC" data-overlay="8">
    <div class="container">
        <div class="col-md-10 col-sm-8">
            <div class="caption cl-white home_two_slid">
                <h2>{{ description }}</h2>
            </div>
            <form name="search" role="search" action="" method="get" novalidate>
                <fieldset class="utf_home_form_one">
                    <div class="col-md-4 col-sm-4 padd-0">
                        <select name="cat" class="wide form-control">
                            <option value="" data-display="Category">Tous les secteurs d'activité</option>
                            {% for categorie in categories %}
                                <option value="{{ categorie.term_id }}">{{ categorie.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-3 padd-0">
                        <select name="job_type" class="wide form-control br-1">
                            <option value="" data-display="Location">Type de contrat</option>
                            {% for type in types %}
                                <option value="{{ type.slug }}">{{ type.name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-md-3 col-sm-3 padd-0">
                        <input type="text" class="form-control br-1" name="s" placeholder="Mots-clés" />
                    </div>
                    <div class="col-md-2 col-sm-2 padd-0 m-clear">
                        <input type="hidden"  name="post_type" value="jp-jobs">
                        <button type="submit" class="btn theme-btn cl-white seub-btn">Trouver</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-10 col-sm-8">
            <a href="{{ route.register }}" class="">S'enregistrer</a>
        </div>
    </div>
</div>
<!-- ======================= End Banner ===================== -->
