{% assign categories = 'category'|taxonomy %}
{% assign countries = 'country'|taxonomy %}

<script id="create-company" type="text/x-template">
    <section v-bind:class="[sectionClass]">
        <div class="container">
            <h2>${heading}</h2>
            <form class="c-form" @submit="checkForm" method="post" action="" novalidate>
                <!-- General Information -->
                <div class="box">
                    <div class="box-header"><h4>General Information</h4></div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label>Company Name</label>
                                <input type="text" v-model="formData.name" name="name" class="form-control"
                                       placeholder="Company Name" required>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label>Category</label>
                                <select v-model="formData.category" name="category" class="form-control ui dropdown">
                                    <option value="">Selectionner</option>
                                    {% for categorie in categories %}<option value="{{ categorie.term_id }}">{{ categorie.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Company Address -->
                <div class="box">
                    <div class="box-header">
                        <h4>Company Address</h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label>Email</label>
                                <input type="email" v-model="formData.email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label>Address</label>
                                <input type="text" v-model="formData.address" name="address" class="form-control"
                                       placeholder="Address" required>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label>Phone Number</label>
                                <input type="text" v-model="formData.phone" name="phone" class="form-control"
                                       placeholder="Phone Number">
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 m-clear">
                                <label>Country</label>
                                <select v-model="formData.country" name="country" class="form-control ui dropdown">
                                    <option value="">Selectionner</option>
                                    {% for country in countries %}
                                        <option value="{{ country.term_id }}">{{ country.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label>City</label>
                                <input type="text" v-model="formData.city" name="city" class="form-control" placeholder="Ville" required>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 m-clear">
                                <label>Zip Code</label>
                                <input type="text" v-model="formData.zipcode" name="zipcode" class="form-control" required
                                       placeholder="Code postal">
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label>Website Link</label>
                                <input type="text" v-model="formData.website" name="website" class="form-control"
                                       placeholder="Website Link">
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label>Employees</label>
                                <select v-model="formData.employees" name="employees" class="ui dropdown form-control">
                                    <option value="1-5">1-5</option>
                                    <option value="5-10">5-10</option>
                                    <option value="10-50">10-50</option>
                                    <option value="100-500">100-500</option>
                                    <option value="500-1000">500-1000</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Company Summery -->
                <div class="box">
                    <div class="box-header">
                        <h4>Company Summery</h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>About Company</label>
                                <textarea v-model="formData.description" name="description" class="form-control height-120 textarea"
                                          placeholder="About Company"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-m theme-btn full-width">Ajouter</button>
                </div>
                <div v-if="errors.length" style="margin-top: 40px">
                    <b>Please correct the following error(s):</b>
                    <ul><li style="color:#ff0000" v-for="error in errors">${ error }</li></ul>
                </div>
            </form>
        </div>
    </section>
    <!-- ====================== End Create Company ================ -->
</script>
<script id="create-annonce" type="text/x-template">
    <section v-bind:class="[sectionClass]">
        <!-- ======================= Create Job ===================== -->
        <div class="container" data-aos="fade-up">
            <form class="c-form" @submit="checkAddForm" method="post" action="" novalidate>
                <!-- General Information -->
                <div class="box">
                    <div class="box-header">
                        <h4>General Information</h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <label>Titre</label>
                                <input type="text" name="title" v-model="inputs.title" class="form-control" placeholder="Titre" required>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label>Category</label>
                                <select name="category" v-model="inputs.category" class="ui dropdown form-control" required>
                                    {% for categorie in categories %}
                                        <option :value="{{ categorie.term_id }}">{{ categorie.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12 m-clear">
                                <label>Experience</label>
                                <select name="experience" v-model="inputs.experience" class="ui dropdown form-control" required>
                                    <option :value="0" data-display="Experience">0 - 6 Mois</option>
                                    <option :value="year" v-for="year in [1, 2, 3, 4, 5]">${year} ans</option>
                                </select>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12 m-clear">
                                <label>Job Type</label>
                                <select name="type" v-model="inputs.type" class="wide form-control" required>
                                    {% assign job_type = 'job_type'|taxonomy %}
                                    {% for type in job_type %}
                                        <option :value="{{ type.term_id }}">{{ type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label>Salary Range (Maximum)</label>
                                <select name="salary_range" v-model="inputs.salary_range" class="ui dropdown form-control">
                                    {% assign _salaires = 'salaries'|taxonomy %}
                                    {% for salaire in _salaires %}
                                        <option :value="{{ salaire.term_id }}">{{ salaire.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 m-clear">
                                <label>Qualification Required</label>
                                <input type="text" name="qualification" v-model="inputs.qualification"
                                       class="form-control" placeholder="Qualification">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Company Summery -->
                <div class="box">
                    <div class="box-header">
                        <h4>Description</h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea name="description" v-model="inputs.description" class="form-control height-120 textarea"
                                          placeholder="About job"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-m theme-btn full-width">Publier mon annonce</button>
                </div>
                <div v-if="errors.length" style="margin-top: 40px">
                    <b>Please correct the following error(s):</b>
                    <ul><li style="color:#ff0000" v-for="error in errors">${ error }</li></ul>
                </div>
            </form>
        </div>
        <!-- ====================== End Create Job ================ -->

    </section>
</script>
<div id="add-annonce">
    <comp-login v-if="!isClient" v-on:login-success="loggedIn"></comp-login>
    <create-company v-if="isClient && !hasCompany" v-bind:me="Me" v-on:has-company-account="hasCompanyAccountfn"></create-company>
    <create-annonce v-if="isClient && hasCompany" v-bind:me="Me"  v-bind:wpapinode="WPAPI"></create-annonce>
</div>